<h2>家族一覧</h2>
<table class="member">
  <tr align="left">
    <th>管理者</th>
  </tr>
  <tr align="left">
    <td><%= @album_author.name %></td>
  </tr>
  <tr align="left">
    <th>メンバー</th>
  </tr>
  <% @users.each do |user| %>
    <tr align="left">
      <td><%= user.name %></td>
      <td>
        <% if @album_author == current_user %>
          <%= link_to '退会', album_album_user_path(@album, user.id), method: :delete, data: {confirm: "本当によろしいですか？"} %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% if @album_author == current_user %>
  <div class="add-member">
    <%= link_to new_album_album_user_path do %>
      <i class="fas fa-user-plus"> 招待する</i>
    <% end %>
  </div>
<% end %>