<h2>アルバム一覧</h2>
<table class="album">
  <% @albums.each do |album| %>
    <tr>
      <td><%= album.album_name %></td>
      <td>
        <%= link_to album_photos_path(album.id) do %>
          <i class="fas fa-images"> 写真をみる</i>
        <% end %>
      </td>
      <td>
        <%= link_to album_album_users_path(album.id) do %>
          <i class="fas fa-users"> 家族をみる</i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to new_album_path do %>
  <i class="fas fa-plus"> 新しくアルバムをつくる</i>
<% end %>