<h2>アルバム一覧</h2>
<table>
  <% @albums.each do |album| %>
    <tr>
      <td><%= album.album_name %></td>
      <td><%= link_to '見る', album_photos_path(album.id) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "新しくアルバムをつくる", new_album_path %>