<h2>アルバム一覧</h2>
<table class="album">
  <% @albums.each do |album| %>
    <tr>
      <td><%= album.album_name %></td>
      <td><%= link_to '写真をみる', album_photos_path(album.id) %></td>
      <td><%= link_to "家族をみる", album_album_users_path(album.id) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "新しくアルバムをつくる", new_album_path %>