<!--ここに写真いれる-->

<h3>Dearyについて</h3>
<p>"Dear × Diary"</p>
<p>
  Dearyは<br>
  写真にメッセージを添えて子どもの成長を記録し<br>
  共有できるアプリケーションです。
</p>
<p>
  スマホで簡単に写真を撮れるようになった今<br>
  家族でアルバムを一緒に見返しながら思い出を語り合う<br>
  そういう機会も減ったのではないでしょうか？
</p>
<p>
  仕事や家事で忙しいパパ・ママへ<br>
  孫の成長を楽しみにしているおじいちゃん・おばあちゃんへ<br>
  将来大きくなったキミへ<br>
  そんなあなたに向けた今の時代ならではの家族アルバムです。
</p>
<p>
  いつでもどこでも子どもの成長を記録。<br>
  遠くに住む家族にも簡単・リアルタイムに共有。<br>
  感想を伝えたり、なつかしい思い出を振り返ったり。
</p>
<p>
  愛しい我が子とのかけがえのない日々を記録する<br>
  そんなアプリケーションをつくりました。
</p>