/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 85px;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #82cddd;
  font-family: 'Noto Sans JP', sans-serif;
  .title {
    text-decoration: none;
    color: #fffff9;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
  }
  li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    a {
      text-decoration: none;
      color: #fffff9;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
        color: #006581;
      }
    }
  }
}

main {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  color: #4d4d4b;
  background-color: #fffff9;
  font-family: 'Noto Sans JP', sans-serif;
  a {
    text-decoration: none;
    color: #59c5de;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
      color: #006581;
    }
  }
  .top-container {
    background-image: image-url('img-1.jpg');
    margin: -30px auto;
    width: 900px;
    height: 600px;
    background-size:cover;
    .top-title {
      font-family: 'Nunito', sans-serif;
      font-size: 70px;
      background-color: #e6e6e1;
      border-radius: 50%;
      opacity: 0.8;
      width: 120px;
      height: 120px;
      margin: 80px;
      padding: 13px 10px;
      position: relative;
      top: 60px;
    }
    .top-link-1 {
      position: relative;
      top: 240px;
      left: 290px;
      a {
        border-radius: 50% 50% 60% 70%/50% 50% 70% 60%;
        padding: 8px 45px;
        font-size: 18px;
        color: #4d4d4b;
        background-color: #e6e6e1;
        opacity: 0.7;
        &:hover {
          color: #43c1de;
          text-decoration: none;
        }
      }
    }
    .top-link-2 {
      position: relative;
      top: 280px;
      left: 290px;
      a {
        border-radius: 60% 70% 50% 50%/70% 60% 50% 50%;
        padding: 8px 45px;
        font-size: 18px;
        color: #4d4d4b;
        background-color: #e6e6e1;
        opacity: 0.7;
        &:hover {
          color: #43c1de;
          text-decoration: none;
        }
      }
    }
  }
  .about {
    width: 660px;
    height: 650px;
    margin: auto;
    padding: 20px;
    background-color: #e6e6e1;
    border-radius: 50%;
    font-family: 'Nunito', sans-serif;
    .paragraph {
      margin: 20px;
    }
  }
  .supplement {
    margin: 3px 0 20px;
    font-weight: 500;
  }
  .field {
    margin: 12px 0;
    font-weight: 600;
    & input {
    	margin: 3px 0;
    	padding: 5px 40px;
    	border: 1px solid #4d4d4b;
    	border-radius: 4px;
    	text-align: center;
    }
  }
  .field-img {
    margin: 12px 0;
    font-weight: 600;
    & input {
    	margin: 3px 0;
    	padding: 5px 40px;
    }
  }
  .button input {
    margin: 8px 0;
    border-radius: 7px;
    border: 1px solid #4d4d4b;
    border-bottom: solid 3px #666663;
    border-right: solid 2px #666663;
    padding: 3px 5px;
    font-size: 15px;
    background-color: #e6e6e1;
    &:hover {
      background-color: #c8dade;
    }
  }
  .link {
    margin: 5px 0;
  }
  .album {
    margin: 20px auto;
    th, td {
      border-bottom: dotted 4px #e6e6e1;
      padding: 15px 10px;
    }
  }
  .name {
    font-size: 25px;
  }
  .age {
    padding: 5px 0 0;
    font-size: 15px;
  }
  .add-photo {
    margin: 20px;
  }
  .photos {
    margin: auto 9%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    div {
      margin: 8px;
    }
  }
  .date {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 20px;
  }
  .back-page {
    display: inline-block;
    position: absolute;
    left: 35%;
  }
  .delete-photo {
    display: inline-block;
    position: absolute;
    right: 35%;
  }
  .post img {
    height: 550px;
  }
  .comments {
    width: 70%;
    margin: auto 30%;
    .comment {
      th, td {
        padding: 5px;
      }
    }
  }
  .member {
    margin: 20px auto;
    border-spacing: 15px;
    th {
      border-bottom: dotted 4px #e6e6e1;
      display: inline-block;
    }
  }
  .add-member {
    margin: 20px;
  }
  #error_explanation {
    display: block;
    width: 30%;
    border: 2px solid #ea5550;
    border-radius: 3px;
    padding: 7px;
    margin: 20px auto;
    background-color: #ebd4d3;
    h2 {
      text-align: center;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 12px;
      margin: -7px -7px 0;
      color: #ea5550;
    }
    ul li {
      font-size: 12px;
      list-style: none;
    }
  }
}